* {
    margin: none;
    padding: none;
}

body {
    background-image: url(https://source.unsplash.com/1600x900/?workplace,office);
}

#name,
#email,
#phone,
#username,
#password,
#again-password {
    padding: 10px;
    height: 2.5rem;
    width: 100%;
    margin: 5px;
}

#super-container {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    justify-content: center;
}

#inner-container {
    background: rgba(256, 256, 256, 0.8);
    max-width: 500px;
    padding: 50px;
    align-items: center;
    border: 1px solid black;
    vertical-align: middle;
    align-self: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#submit {
    margin-top: 5px;
    padding: 8px 25px;
    background: #1fa560;
    color: #fff;
    border-radius: 5px;
    border-style: none;
}

#submit-button {
    display: flex;
    justify-content: center;
}