#profile-pic {
    display: inline-block;
    margin: 0 50px;
}

#name {
    display: inline-block;
}

#details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.jumbotron {
    padding: 20px;
}

#name,
#email,
#phone {
    margin-left: 10px;
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}