.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

.card {
    margin: 20px;
}
.card:hover{
    box-shadow: black;
}

#card-container {
    justify-content: center;
}